/* Tailwind Core */
@import 'tailwindcss';

/* ReUI Configs */
@import './config.reui.css';

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Minimal scrollbar for all elements */
  * {
    scrollbar-width: thin;
    /* Firefox - makes it minimal */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  *::-webkit-scrollbar {
    width: 1px;
    /* Vertical scrollbar width */
    height: 4px;
    /* Horizontal scrollbar height */
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Dark mode scrollbar */
  .dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .dark *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .dark * {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }

  /* Minimal horizontal scrollbar (only for task board) */
  .task-scroll {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(48, 0, 0, 0.25) transparent;
  }

  .task-scroll::-webkit-scrollbar {
    height: 4px;
    /* Horizontal scrollbar height */
  }

  .task-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .task-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(237, 0, 0, 0.25);
    border-radius: 10px;
  }
}
[data-slot="checkbox"],
.data-grid-table input[type="checkbox"] {
  border: 1.5px solid #9CA3AF !important; 
  border-radius: 4px;
}
[data-slot="checkbox"]:hover,
.data-grid-table input[type="checkbox"]:hover {
  border-color: #6B7280 !important; 
}


@import './components/image-input.css';
@import './components/apexcharts.css';
@import './components/leaflet.css';
@import './components/rating.css';
@import './components/image-input.css';
@import './components/scrollable.css';

/* Demos */
@import './demos/demo1.css';

/** Dark/Light Theme Variant **/
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(.dark *));

/* Hide scrollbar globally */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
* {
  -ms-overflow-style: none;
}

.swal2-container {
  z-index: 9999999 !important;
}